<head>
<style>
  .userinfo{
    display:flex;justify-content:space-around;align-items: center;
    color:white; 
    text-align:center; 
    font-size:1.3rem;
  }
  
  body{
    display:flex;
  }
  .likes img{
    margin-left:5px;
    margin-bottom:3.5px;
  }
</style>
</head>


<body>
  <div class="userinfo bg-dark px-5 py-2" >
    <!--프로필사진-->
    <div style="display:flex;justify-content:center;align-items:center">
      <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0_2nqm0H20gpO-Pf9BsBwuAYt3McWcb-6rFs37i244h71Lyrnkg" width="60px" height="60px" style="border-radius: 300px;">
    </div>

    <%=current_user.username%>
    <%=current_user.userdepartment%>
    <%=current_user.usernumber%>학번

    멘티 50명
    인기도 120

    <div class="likes">
      <%if current_user.like == nil%>
        좋아하는 사람 0명
        <!--빈하트-->
        <img src="/svg/emptyheart.svg" height="20px" width="auto"alt="emptyHeart">
      <%else%>
        좋아하는 사람 <strong><%=current_user.like%></strong>명
        <br>
        <!--하트아이콘-->
        <img src="/svg/heart.svg" height="20px" width="auto"> 
      <%end%>
    </div>


    <div>
      <a class="btn btn-warning" href="/users/edit" role="button">수정하기</a>
      <a class="btn btn-warning" href="/mentorrq/index">멘토신청</a>
    </div>
  </div>
  
  <!--메인컨텐츠(클래스,질답목록)-->
  <div class="mx-5 my-3">
    <!--운영중인 멘토링 클래스-->
    <strong><h5>나의 멘토링 클래스</h5></strong>
    <% if @suup_info.empty? %>
      <h5>멘토가 아니거나, 운영중인 클래스가 없습니다.</h5>
    <% else %>
     <table class="table table-sm table-bordered table-dark" style="text-align:center;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">수업명</th>
          <th scope="col">과목</th>
          <th scope="col">멘티 수</th>
        </tr>
      </thead>
      
      <tbody>
        <% @suup_info.each_with_index do |sp, index| %>
        <tr>
          <th scope="row"><%= index + 1%></th>
          <td><a href="/mentoring/show/<%= sp.id %>"><%= sp.title %></a></td>
          <td><%= sp.subject %></td>
          <td><%= Sinchung.where(suup_id: sp.id).count %> / <%= sp.limitman %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <!--나의 질문답변-->
    <strong><h5>나의 질문과 답변</h5></strong>
    <% if @suup_info.empty? %>
      <h5>질문답변내역이 없습니다.</h5>
    <% else %>
    
    <table class="table table-sm table-bordered table-dark" style="text-align:center;">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">수업명</th>
          <th scope="col">수업내용</th>
          <th scope="col">학생수 (0/20)</th>
        </tr>
      </thead>
      <tbody>
        
        <!--<tr>-->
        <!--  <th scope="row">1</th>-->
        <!--  <td><#%=@suup_info.first.title%></td>-->
        <!--  <td><#%=@suup_info.first.content%></td>-->
        <!--  <td>학생수</td>-->
        <!--</tr>-->
        
      </tbody>
    </table>
    <% end %>
  </div>
  
</body>
