<head>
    <!--<script src="/bower_components/jquery.countdown/dist/jquery.countdown.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <style>
        li {
            display: inline-block;
        }
    </style>
    
</head>
<div style=
            "height: 11rem;
            background-image: 
                       url(http://www.hrreview.co.uk/wp-content/uploads/mentoring-768x307.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: black;"
            >
            <div style="background-color:black; opacity:0.5; text-align:center; height: 100%; vertical-align: middle;">
              <div style="padding: 50px 0px;">
                 <h1 style="color: white">멘토링게시판</h1> 
                 <p style="color: white">멘토링 게시판은 수업을 신청하는 게시판 입니다.</p>
               </div>
            </div>
          </div>
<a href="/menu/mentoring">목록으로 돌아가기</a>

<br><br><br>
<div class="profile col-4" style="display:inline-block">
<img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0_2nqm0H20gpO-Pf9BsBwuAYt3McWcb-6rFs37i244h71Lyrnkg" width="200px" height="200px" style="border-radius:300px">
<h3>멍멍이</h3>
<a href="/public/rank/<%= @mentor.id %>" class="btn btn-primary">멘토 정보</a><br><br>
<a href="/menu/sugang/<%= @suup.id %>/<%= current_user.id %>" class="btn btn-primary">수업 신청하기</a>
</div>
<div class="info col-8" style="float:right;">
    <ul>
    <li style="font-size:2rem;">
        <%= @suup.title %>
    </li>
    <hr>
    <li style="font-size:2rem;">
        <i class="fa fa-clock-o" style="margin-right:10px"></i>
        <span>마감까지</span>
        <span id="clock"></span>
        <span>남았습니다.</span>
        <script>
            $('#clock').countdown({until: <%= @suup.endtime.to_i - Time.now.to_i %>,
               expiryText: '<div class="over">마감되었습니다.</div>'
              });

        </script>
    </li><br>
    <li style="font-size:2rem;">
        <strong><i class="fa fa-user" style="margin-right:16px"></i></strong> 제한인원 <%= @suup.limitman %>명
    </li><br>
    <li style="font-size:2rem;">
        <strong><i class="fa fa-phone" style="margin-right:10px"></i></strong><%= @suup.phone %>
    </li><br>
     <li style="font-size:2rem;">
        <strong><i class="fa fa-map-marker" style="margin-right:18px"></i></strong> <%= @suup.place %>
    </li>
    <hr>
    <li style="font-size:2rem;">
        수업내용
        <hr>
        <br>
        <%= @suup.content %>
    </li>
    </ul>
</div>