<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <style>
        li {
            display: inline-block;
        }
    </style>
</head>

<a href="/menu/mentoring">목록으로 돌아가기</a>

<br><br><br>
<div class="profile col-4" style="display:inline-block">
<img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0_2nqm0H20gpO-Pf9BsBwuAYt3McWcb-6rFs37i244h71Lyrnkg" width="200px" height="200px" style="border-radius:300px">
<h3>멍멍이</h3>
<a class="btn btn-primary">멘토 정보</a><br><br>
<a href="/menu/sugang/<%= @suup.id %>/<%= current_user.id %>" class="btn btn-primary">수업 신청하기</a>
</div>
<div class="info col-8" style="float:right;">
    <ul>
    <li style="font-size:2rem;">
        <%= @suup.title %>
    </li>
    <hr>
    <li style="font-size:2rem;">
        <strong><i class="fa fa-map-marker" style="margin-right:18px"></i></strong>  <%= @suup.place %>
    </li><br>
    <li style="font-size:2rem;">
        <strong><i class="fa fa-clock-o" style="margin-right:10px"></i></strong> <%= @suup.sttime %> <%=@suup.endtime %>
    </li><br>
    <li style="font-size:2rem;">
        <strong><i class="fa fa-user" style="margin-right:16px"></i></strong> <%= @suup.limitman %>명
    </li><br>
    <li style="font-size:2rem;">
        <strong><i class="fa fa-phone" style="margin-right:10px"></i></strong> <%= @suup.phone %>
    </li>
    <hr>
    <li style="font-size:2rem;">
        수업내용
        <br>
        <%= @suup.content %>
    </li>
    </ul>
</div>