    <a href="/qanda/new">
        <button class="btn-primary">새 질문 작성</button>
    </a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">답변개수</th>
          <th scope="col">작성일</th>
        </tr>
      </thead>
      <tbody>
          <% @all.each_with_index do |p,index| %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><a href="/qanda/show/<%= p.id %>"><%= p.title %></td></a>
              <td><%= p.user.email %></td>
              <td>
                <%= p.qanswers.count %>
              </td>
              <td>
                <%= p.created_at %>
              </td>
            </tr>
          <% end %>    
      </tbody>
    </table>
