<!--유저가 자신이 쓴 모든 멘토신청 글을 볼 수 있는 게시판입니다-->

<head>
  <style>
  .wpahr { 
    width :300px;
  }  
  
  .table {
    width: 100%;
    text-align: center;
  }
  
  .box {
    padding:50px 100px;
  }
  
  .wkrtjdwk{
    width: 200px;
  }
  
  .qjsgh {
    width: 100px;
  }
  .created_at{
    width:300px;
  }
  
  a {
     text-align: right;
  }
  
  thead {
    background-color:black;
    color: white;
  }
  
  tr,th,td{
    border:1px solid white;

  }
  
  .pagination {
    margin-left:250px;
  }
  </style>
  
</head>
<body>
<div class="box">
 
<table class="table table-striped">
   <h1><b><%=current_user.username%></b> 님의 멘토신청</h1>
  <thead>
    <tr>
      <th scope="col" class="qjsgh">번호</th>
      <th scope="col" class="wpahr">제목</th>
      <th scope="col" class="wkrtjdwk">작성자</th>
      <th scope="col">등업상태</th>
      <th scope="col" class="created_at">작성일</th>
    </tr>
  </thead>
  <tbody>
  
      <% @posts.each_with_index do |p,index| %>
        <tr>
          <th scope="row"><%= index+1 %></th>
          <td><a href="/mentorrq/show/<%= p.id %>"><%= p.content %></td></a>
          <td><%= p.user.email %></td>
          <td>
            <% if Mentor.where(user_id: p.user_id).empty? %>
            <span>멘토 등록신청중</span>
            <% else %>
            <span>멘토 등록완료!</span>
            <% end %>
          </td>
          <td>
            <%=p.created_at%>
          </td>
        </tr>
      <% end %>    
  </tbody>
</table>
<p><a href="/mentorrq/new"><button class="btn">멘토신청하러가기</button></a></p>



<script src="js/jquery-3.1.js"></script>
<script src="js/bootstrap.js"></script>
</body>