  <div class="row d-flex justify-content-center">
    
  <% @allrecord.limit(3).each do |d| %>
        <div class="col-lg-3 col-md-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/500x325" alt>
            <div class="card-body">
              <h4 class="card-title"><%= d.name %></h4>
              <p class="card-text">
                <%= d.major %><%= d.number %>
              </p>
            </div>
            <div class="card-footer">
              <a href="/public/show/<%= d.id %>" class="btn btn-primary">find out more</a>
            </div>
          </div>
        </div>
  <% end %>
  </div>
  
  <div class="mt-4">
    <table class="table" style="width:50%; margin:auto; text-align:center;">
      <thead class="thead-white">
        <tr>
          <th scope="col">랭킹</th>
          <th scope="col">이름</th>
          <th scope="col">학과</th>
          <th scope="col">학번</th>
        </tr>
      </thead>
      <tbody>
         <% @allrecord.each do |d| %>
            <tr>
              <th scope="row"><%= d.id %></th>
              <td><a href="/public/show/<%= d.id %>"><%= d.name %></a></td>
              <td><a href="/public/show/<%= d.id %>"><%= d.major %></a></td>
              <td><a href="/public/show/<%= d.id %>"><%= d.number %></a></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="container mt-4">
    <div class="row d-flex justify-content-center">
      <div class="col-4 d-flex justify-content-center"><a href="/public/write">신고하기</a></div>
    </div>
  </div>
  


<!--#원피스원티드(일단주석)-->
<!--<div class="row col-lg-10" style="margin:auto; padding-left:15px; padding-right:15px;">-->
<!--  <% @allrecord.each do |m| %>-->
<!--    <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--        <div class="card h-100">-->
<!--          <a href="/public/show/<%= m.id %>"><img class="card-img-top" src="https://img00.deviantart.net/1858/i/2009/102/5/2/one_piece_wanted_poster_psd_by_akuma_no_mi_bu.png" alt=""></a>-->
<!--        </div>-->
<!--    </div>-->
<!--  <% end %>-->
<!--</div>-->




    