<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<a href="/public/index">목록으로 돌아가기</a>
<!--<h5>제목</h5><p><%= @s_title %></p>
<h5>내용</h5><p><%= @s_content %></p>-->

    <h2 class="text-center">공개처형 대상을 소개합니다!</h2>
    <hr width="450px"/>
    <span style="margin-left:52rem">
    <i class="fa fa-frown-o" style="font-size:1.25rem;"><%= "#{@findone.likes.size}" %></i>
    <i class="fa fa-eye" style="font-size:1.25rem;"><%= "#{@findone.unique_impression_count}" %></i>
    <i class="fa fa-history" style="font-size:1.25rem;">3분 전</i>
    </span>
      <div class="row">
        <div class="col-md-12" style="display:inherit;">
         
          <span style="margin-left:30em">
          <i class="fa fa-user-circle" style="font-size:12rem;"></i>
          </span>
          <span style="margin-left:5em">
           <br>이름 : <%= @s_name %><br>
            <br>학과 : <%= @s_major %><br>
            <br>학번 : <%= @s_number %><br>
            <br>범죄내용 : <br>
          </span>
        </div>
      </div>
      <br>
      <span style="margin-left:47em">
      <% if current_user.acts_like? (@hit_post) %>
      <form action='/public/<%= @hit_post.id %>/like' method='post'>
      <button type="button" style="background-color: #4CAF50; border: none; color: white; padding: 15px 32px;
                                   text-align: center; text-decoration: none; display: inline-block; font-size: 16px;">
           <i class="fa fa-frown-o" style="font-size:1.5rem;">실망이에요</i>
      </button>
      </form>
      
      <% else %>
      <form action='/public/<%= @hit_post.id %>/like' method='post'>
      <button type="button" style="background-color: #4CAF50; border: none; color: white; padding: 15px 32px;
                                   text-align: center; text-decoration: none; display: inline-block; font-size: 16px;">
           <i class="fa fa-frown-o" style="font-size:1.5rem;">실망이에요</i>
      </button>
      </form>
      
      <% end %>
      </span>
<hr  />
<!--여기부터 답변 양식입니다.-->

<form action="/comments" method="post">
    <h3>댓글을 작성해 주세요!</h3>
    <input type="hidden" value="<%= @findone.id %>" name="blacklist_id"></input>
    <textarea type="text" placeholder="과도한 욕설 금지!" rows="3" style="width:60%"></textarea>
    <input type='submit' value="등록" style="background-color:green; border:0; border-radius: 5px;
                                             cursor: pointer; color: #fff; font-size:16px;
                                             font-weight: bold; line-height: 1.4; padding: 10px; width: 60px"></input>
</form>
<hr>

<% @comments.each do |c|%>
    <p><%= c.content %>
    <a href='/comments/<%= c.id %>' data-method='delete'>삭제</a>
    </p>
<% end %>
</head>

