<head>
<style>
    .mypage {
        text-align:center;
    }
    .username{
      font-size:2.5em;
    }
    a:link {
      color: black;
      text-decoration: none;
    }
    input {
       width: 200px;
    }
    th{
        text-align :right;
    }
    
    .user-profile-image {
        border-radius: 200px;
        width: 15em;
        height: 15em;
        display:block;
        margin:auto;
        margin-top:20px;
        margin-bottom:20px;
    }
</style>
</head>
    
<div class="row">

    <!--좌측 공백 레이아웃-->
    <div class="col">
    </div>
    

    <!--메인컨텐츠 레이아웃-->
    <div class="mypage col-6 text-align-center">

        <!--이하는 프사 및 유저이름 (form 상단)-->
        <div class="user-profile">
          <span class="username"><%= current_user.username %></span> <!--프사 위에 뜨는 유저이름-->
          <!--이하는 프로필사진-->
          <% if current_user.image.url.nil? %>
            <img src="/img/cute.jpg" class="user-profile-image" alt="profile">
            <p><b>프로필이 없습니다. 프로필을 등록해주세요</b></p>
            <%= form_tag '/main/create', method: :post, class: 'user-profile-form',multipart: true do %>
              <input type="file" name="image" value="imgae">
              <input type="hidden" name="user" value="<%=current_user.id%>">
              <input type="submit">
            <% end %>
          <% else %>
            <img src="<%=current_user.image.url%>" class="user-profile-image" alt="profile">
            <%= form_tag '/main/create', method: :post, class: 'user-profile-form',multipart: true do %>
              <input type="file" name="image" value="imgae">
              <input type="hidden" name="user" value="<%=current_user.id%>">
              <input type="submit">
            <% end %>
          <% end %>
        </div>

        <hr>

        <!--이하는 input들 (form 중단)-->
        <%= simple_form_for(resource, as: resource_name, url: '/users', html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col"><div class="input email required user_email">
                <label class="email required" for="user_email">
                  <abbr title="required"></abbr> 이메일</label></th>
              <td scope="col"><input class="string email required" autofocus="autofocus" required="required" aria-required="true" type="email" value="<%= current_user.email %>" name="user[email]" id="user_email"></div>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><div class="input password required user_current_password field_with_hint">
              <label class="password required" for="user_current_password">
                <abbr title="required"></abbr>현재비밀번호</label></th>
              <td> <input class="password required" required="required" aria-required="true" type="password" name="user[current_password]" id="user_current_password" placeholder="현재 비밀번호 입력">
                </div></td>
            </tr>
            <tr>
              <th scope="row"><div class="input password optional user_password field_with_hint">
                  <label class="password optional" for="user_password">비밀번호</label></div></th>
              <td> <input class="password optional" type="password" name="user[password]" id="user_password" placeholder="새로운 비밀번호">
              </td>
            </tr>
            <tr>
              <th scope="row"><div class="input password optional user_password_confirmation"><label class="password optional" for="user_password_confirmation">비밀번호확인</label></th>
              <td><input class="password optional" type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="한번 더 입력해주세요!"></div></td>
            </tr>
            <tr>
              <th scope="row">나이</th>
              <td colspan="1"><input class="string required" autofocus="autofocus" required="required" aria-required="true" type="text" name="user[userage]" id="user_userage" value="<%= current_user.userage %>"></td>
            </tr>
            <tr>
              <th scope="row">이름</th>
              <td colspan="1"><input class="string required" autofocus="autofocus" required="required" aria-required="true" type="text" name="user[username]" id="user_username" value="<%= current_user.username %>"></td>
            </tr>
            <tr>
              <th scope="row">학과</th>
              <td colspan="1"><input class="string required" autofocus="autofocus" required="required" aria-required="true" type="text" name="user[userdepartment]" id="user_userdepartment" value="<%= current_user.userdepartment %>"></td>
            </tr>
            <tr>
              <th scope="row">학번</th>
              <td colspan="1"><input class="string required" autofocus="autofocus" required="required" aria-required="true" type="text" name="user[usernumber]" id="user_usernumber" value="<%= current_user.usernumber%>"></td>
            </tr>
            </tbody>
        </table>
      
        <!--이하는 버튼 2개 들어있는 부분-->
        <div class="form-actions d-flex justify-content-center">
          <a href="/mentorrq/index"><button class="btn btn-warning mx-1">멘토신청하러가기</button></a>
          <input type="submit" value="수정하기" class="btn btn-warning mx-1">
        </div>
        <% end %>
    
    </div><!--메인컨텐츠 레이아웃 div 끝-->
    

    <!--우측 공백 레이아웃-->        
    <div class="col">
    </div>


</div>
