<head>
<style>
    .mypage {
        text-align:center;
    }
    a:link {
      color: black;
      text-decoration: none;
    }
    input {
       width: 200px;
    }
    th{
        text-align :right;
    }
    
    .image {
        border-radius: 300px;
        width: 200px;
        height: 200px;
    }
    
    .user-profile-image {
        border-radius: 300px;
        width: 200px;
        height: 200px;
    }
</style>
</head>
    
<div class="row">
<!--공백-->
    <div class="col"></div>
    <!--공백끝-->
    
    <!--메인컨텐츠-->
    <div class="mypage col-6 text-align-center">
        
      <span class="my_page"><%= resource_name.to_s.humanize %></span>
      
      <div class="form-inputs">
        
        
        <div class="user-container">
        <div class="user-profile">
          <% if current_user.image.url.nil? %>
          <img class="image" src="/img/cute.jpg" class="user-profile-image" alt="profile">
          <p>프로필이 없습니다. 프로필을 등록해주세요</p>
          <%= form_tag '/menu/create', method: :post, class: 'user-profile-form',multipart: true do %>
            <input type="file" name="image" value="imgae">
            <input type="hidden" name="user" value="<%=current_user.id%>">
            <input type="submit">
          <% end %>
          <% else %>
          <img src="<%=current_user.image.url%>" class="user-profile-image" alt="profile">
          <%= form_tag '/menu/create', method: :post, class: 'user-profile-form',multipart: true do %>
            <input class="btn btn-outline-light " type="file" name="image" value="imgae">
            <input type="hidden" name="user" value="<%=current_user.id%>">
            <input class="btn btn-outline-light" type="submit">
          <% end %>
          <% end %>
        </div>
        </div>
        <hr>
        <%= simple_form_for(resource, as: resource_name, url: '/users', html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <table class="table table-borderless">
          <thead>
          <tr>
            <th scope="col"><div class="input email required user_email">
              <label class="email required" for="user_email">
                <abbr title="required"></abbr> 이메일</label></th>
            <td scope="col"><input class="string email required" autofocus="autofocus" required="required" aria-required="true" type="email" value="<%= current_user.email %>" name="user[email]" id="user_email"></div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><div class="input password required user_current_password field_with_hint">
            <label class="password required" for="user_current_password">
              <abbr title="required"></abbr>현재비밀번호</label></th>
            <td> <input class="password required" required="required" aria-required="true" type="password" name="user[current_password]" id="user_current_password" placeholder="현재 비밀번호 입력">
              </div></td>
          </tr>
          
          <tr>
            <th scope="row"><div class="input password optional user_password field_with_hint">
                <label class="password optional" for="user_password">비밀번호</label></div></th>
            <td> <input class="password optional" type="password" name="user[password]" id="user_password" placeholder="새로운 비밀번호">
            </td>
          </tr>
        
          <tr>
            <th scope="row"><div class="input password optional user_password_confirmation"><label class="password optional" for="user_password_confirmation">비밀번호확인</label></th>
            <td><input class="password optional" type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="한번 더 입력해주세요!"></div></td>
          </tr>
          
    
          <tr>
            <th scope="row">나이</th>
            <td colspan="2"><input class="string required" autofocus="autofocus" required="required" aria-required="true" type="text" name="user[userage]" id="user_userage" value="<%= current_user.userage %>"></td>
          </tr>
           <tr>
            <th scope="row">이름</th>
            <td colspan="2"><input class="string required" autofocus="autofocus" required="required" aria-required="true" type="text" name="user[username]" id="user_username" value=""></td>
            <td colspan="2"><input class="string required" autofocus="autofocus" required="required" aria-required="true" type="text" name="user[username]" id="user_username"></td>
          </tr>
           <tr>
            <th scope="row">학과</th>
            <td colspan="2"><input class="string required" autofocus="autofocus" required="required" aria-required="true" type="text" name="user[userdepartment]" id="user_userdepartment"></td>
          </tr>
           <tr>
            <th scope="row">학번</th>
            <td colspan="2"><input class="string required" autofocus="autofocus" required="required" aria-required="true" type="text" name="user[usernumber]" id="user_usernumber"></td>
          </tr>
        </tbody>
      </table>
      </div>
      
      
      <div class="form-actions">
         <input type="submit" name="commit" value="수정" class="btn btn-warning">
         <a href="/mentorrq/index"><button class="btn btn-warning">멘토신청하러가기</button></a>
      </div>
     <% end %>
    
    </div>
    <!--메인컨텐츠끝-->
    
    <!--우측공백-->        
    <div class="col"></div>

</div>
<!--div class row 끝-->